[Unit]
Description=Triton Inference Server startup script

[Service]
ExecStart=/opt/sgre/run_triton_inference_server.sh

[Install]
WantedBy=multi-user.target